{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue - {{parent()}}
{% endblock %}

{% block body %}

<div class="menu">
    <div class="menu_sec" id="menu_sec">

        {% for menu in menus %}
            <div class="card">
                <img src="{{asset('img/' ~ menu.picture)}} " alt="Food" loading="lazy" >
                <h5>{{menu.name}} </h5>
            </div>
        {% endfor %}

        <h5 class="border"></h5>
    </div>

    <img src="{{asset('img/arrow.png')}} " alt="arrow" class="left_arrow" id="left_arrow">
    <img src="{{asset('img/arrow.png')}} " alt="arrow" class="right_arrow" id="right_arrow">
    <h4>Menu</h4>
</div>

{# cards box start #}
<div class="card_bx">
    <div class="cards_bx1">
        <div class="card card1">
            <img src="{{asset('img/card1.png')}} " alt="food" loading="lazy">
        </div>
        <div class="card card2">
            <img src="{{asset('img/card2.png')}} " alt="food" loading="lazy">
        </div>
        <div class="card card3">
            <img src="{{asset('img/card3.png')}} " alt="food" loading="lazy">
        </div>
        <div class="card card4 card_b">
            <img src="" alt="">
        </div>
        <div class="card card5 card_b">
            <img src="" alt="">
        </div>
    </div>
</div>
{% endblock %}
