{% extends 'base.html.twig' %}

{% block title %}
	Bienvenue -
	{{parent()}}
{% endblock %}

{% block body %}

	{# MENU BAR #}
	<div class="menu">
		<div class="menu_sec" id="menu_sec">

			{% for menu in menus %}
				<div class="card">
					<img src="{{asset('img/' ~ menu.picture)}} " alt="Food" loading="lazy">
					<h5>{{menu.name}}
					</h5>
				</div>
			{% endfor %}

			<h5 class="border"></h5>
		</div>

		<img src="{{asset('img/arrow.png')}} " alt="arrow" class="left_arrow" id="left_arrow">
		<img src="{{asset('img/arrow.png')}} " alt="arrow" class="right_arrow" id="right_arrow">
		<h4>Menu</h4>
	</div>

	{# CARDS BOX #}
	<div class="card_bx">
		<div
			class="cards_bx1">

			{# CARD 1 #}
			<div class="card card1">
				<div class="content">
					<h2>best seller
						<br>
						spicy hot one</h2>
					<p>Un phénomène qui va
						<br>
						vous réveiller</p>
					<h4>7.90€</h4>
					<div class="dots">
						<h2></h2>
						<h2></h2>
						<h2></h2>
						<h2></h2>
					</div>
				</div>
				<img src="{{asset('img/card1.png')}} " alt="food" loading="lazy">
			</div>

			{# CARD 2 #}
			<div class="card card2">
				<div class="content">
					<h2>100% fait maison
						<br>
						big cookies</h2>
					<p>tout juste sortis du four
						<br>
						bien croustillants</p>
					<h4>4.90€</h4>
				</div>
				<img src="{{asset('img/card2.png')}} " alt="food" loading="lazy">
			</div>

			{# CARD 3 #}
			<div class="card card3">
				<div class="content">
					<h2>Trouver notre<br>
						food truck
						<br>
						près de chez
						<br>
						vous
					</h2>
					<button>GO &#8594;</button>
				</div>
				<img src="{{asset('img/card3.png')}} " alt="food" loading="lazy">
			</div>

			{# CARD 4 #}
			<div class="card card4 card_b">
				<div class="content">
					<h2>une vraie cuisine
						<br>
						une vraie passion
						<br>
						un vrai chef</h2>
					<a href="#">100% produits frais</a>
				</div>
				<img src="{{asset('img/card4.png')}} " alt="food" loading="lazy">
			</div>

			{# CARD5 #}
			<div class="card card5 card_b">
				<div class="content">
					<h2>Envie de
						<br>faire parti<br>de l'aventure?</h2>
					<a href="#">Rejoignez-nous...</a>
				</div>
				<img src="{{asset('img/card5.png')}} " alt="food" loading="lazy">
			</div>
		</div>
	</div>

	{# APP BOX #}
	<div class="app_box">
		<div class="app_box1">
			<div class="app_img">
				<img src="{{asset('img/app.png')}} " alt="App" loading="lazy">
			</div>
			<div class="app_content">
				<h1>Retrouvez nous dès maintenant
					<br>Sur l'application mobile
					<br>Dans votre poche</h1>
				<div class="app_imgs">
					<a href="#">
						<img src="{{asset('img/apple.png')}} " loading="lazy" alt="ios">
					</a>

					<a href="#">
						<img src="{{asset('img/android.png')}} " loading="lazy" alt="android">
					</a>
				</div>
			</div>
		</div>
	</div>

	{# SOCIAL BOX #}
	<div class="social">
		<div class="social2">
			<div
				class="social_box">

				{# TWITTER PART #}
				<div class="twitter">
					<img src="{{asset('icon/twitter.png')}} " alt="twitter">
					<h3>TakoyakiSnoos</h3>
					<p>
						<span>@OnTheRoad</span>
						Ipsum enim ex in qui nulla. Consectetur anim aliqua.</p>
				</div>
				<div class="twitter">
					<img src="{{asset('icon/twitter.png')}} " alt="twitter">
					<h3>JC-Dusse</h3>
					<p>
						<span>@OnTheRoad</span>
						Officia fugiat consequat nostrud reprehenderit.</p>
				</div>

				{# FACEBOOK PART #}
				<div class="facebook insta_boxs">
					<img src="{{asset('icon/instagram.png')}} " alt="instagram" class="insta">
					<img src="{{asset('img/social_chicken.jpg')}} " alt="" class="img_box_insta">
					<div class="chicken_box">
						<h6>
							<span>#OnTheRoad</span>
							Dolor in ad aliqua minim.</h6>
					</div>
				</div>
				<div class="facebook">
					<img src="{{asset('icon/facebook.png')}} " alt="facebook">
					<h3>ChickenChika</h3>
					<p>
						<span>OnTheRoad</span>
						Nulla exercitation magna commodo excepteur do veniam velit mollit. Elit aute ipsum nisi.</p>
				</div>
				<div class="facebook">
					<img src="{{asset('icon/facebook.png')}} " alt="facebook">
					<h3>Bruce_Wayne</h3>
					<p>
						<span>OnTheRoad</span>
						Nostrud labore occaecat deserunt consectetur voluptate. Et velit deserunt eu proident
					</p>
				</div>

				{# DOTS PART #}
				<div class="social_dots">
					<h2></h2>
					<h2></h2>
					<h2></h2>
				</div>
			</div>
			<div class="social_video_box">
				<div class="video">
					<video width="100%" height="100%" muted>
						<source src="{{asset('img/video.mp4')}} " type="video/mp4">
					</video>
					<img src="{{asset('img/video.png')}} " alt="video" class="screen">
					<img src="{{asset('icon/play.png')}} " alt="play" class="play">
					<img src="{{asset('icon/pause.png')}} " alt="pause" class="pause">
				</div>
			</div>
		</div>
	</div>

	{# ADRESS BAR #}
	<address>
		<div class="add">
			<div class="otr-add">
				<img src="{{asset('img/logo.png')}}" alt="logo" class="add_logo">
				<div class="phone"><img src="{{asset("icon/what's app.png")}}">+33 612 345 678</div>
				<div class="phone"><img src="{{asset('icon/store.png')}}">+33 612 345 678</div>
			</div>
			<div class="otr-icon">
				<a href="#"><img src="{{asset('icon/facebook.png')}} " alt=""></a>
				<a href="#"><img src="{{asset('icon/twitter.png')}} " alt=""></a>
				<a href="#"><img src="{{asset('icon/youtube.png')}} " alt=""></a>
				<a href="#"><img src="{{asset('icon/instagram.png')}} " alt=""></a>
			</div>
		</div>
	</address>

{% endblock %}
